.window {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  background: rgba(236, 234, 219, 1);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.18);
  .topBar {
    display: flex;
    padding: 12px 20px;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0.09);
    .windowTitle {
      font-weight: 600;
    }
    .topBarBtns {
      display: flex;
      align-items: center;
      gap: 12px;
      .topBarItem {
        height: 12px;
        width: 12px;
        background: aqua;
        cursor: pointer;
      }
    }
  }
  .windowContent {
    flex: 1;
    padding: 10px 20px;
  }
}